<h1>Articles#index</h1>

<%= link_to '新規作成', new_article_path %>

<% @articles.each do |article| %>
  <p>

    <%= link_to article.title, article %>

    <% unless article.category.nil? %>
      <span><%= article.category.name %></span>
    <% end %>

  </p>
<% end %>
